@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
.testimonyBox {
  border-radius: 0rem 7.10756rem 7.10756rem 7.10756rem;
  border: 0.75px solid #03a9f4;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  display: block;
  border-radius: 0.1875rem;
  border: 0.75px solid #dcdcdc;
  /* padding: 0.5625rem 1.125rem; */
  width: 100%;
}
.react-datepicker-ignore-onclickoutside {
  /* padding: 0.5625rem 1.125rem; */

  display: block;
  border: 0px;
  outline: none;
}
#startDate {
  padding: 0.56rem 0 0.56rem 2.25rem;
  min-width: 100%;
  outline: none;
  font-size: 0.75rem;
  height: 3rem;
  border-radius: 0.1875rem;
}
.err {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.texteditor {
  border-radius: 0.46875rem;
  background: #f8f8f8;
  padding: 1.64rem 1rem;
  min-height: 20.20313rem;
  outline: none;
  color: #333;

  opacity: 0.7;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 142.857% */
}

.texteditor.errMode {
  border: 2px solid #c53030 !important;
}

.pagination {
  display: inline-flex;
  padding: 0.35631rem 0.85506rem;
  justify-content: center;
  align-items: center;
  gap: 1.14013rem;
  list-style-type: none;
}

.pagination li {
}

.page-item {
  display: flex;
  width: 2.28025rem;
  height: 2.28025rem;
  padding: 0.62319rem 0.03563rem 0.59456rem 0.03563rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.21375rem;
  border: 0.57px solid rgba(51, 51, 51, 0.3);

  color: #03a9f4;

  text-align: center;

  font-size: 0.85506rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
ul.react-paginate li.selected {
  background-color: #0366d6;
  border-color: transparent;
  color: white;
  min-width: 32px;
}

li.page-item.active {
  border: 0.57px solid #03a9f4;

  background: #03a9f4;
  color: white;
}

li.page-item .page-link {
  /* background: red; */
  padding: 0.4rem 0.5rem;
}
