html {
  scroll-behavior: smooth;
  font-size: 16px;
}
.testimonyBox {
  border-radius: 0rem 7.10756rem 7.10756rem 7.10756rem;
  border: 0.75px solid #03a9f4;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  display: block;
  border-radius: 0.1875rem;
  border: 0.75px solid #dcdcdc;
  /* padding: 0.5625rem 1.125rem; */
  width: 100%;
}
.react-datepicker-ignore-onclickoutside {
  /* padding: 0.5625rem 1.125rem; */

  display: block;
  border: 0px;
  outline: none;
}
#startDate {
  padding: 0.56rem 0 0.56rem 2.25rem;
  min-width: 100%;
  outline: none;
  font-size: 0.75rem;
  height: 3rem;
  border-radius: 0.1875rem;
}
.err {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}
